body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.brand-logo {
    float: right;
}

main {
    flex: 1 0 auto;
}

.pagination {
    text-align: center;
}

.public-header {
    text-align: center;
}

.submit-button {
    text-align: center;
}